
<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>✈️空空姐G蛋仔</title>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="PRAGMA" CONTENT="NO-CACHE">
    <meta http-equiv="EXPIRES" CONTENT="0">
    <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
   <style>
        .layout-padding {
            padding: 30px
        }
        .md-raised.md-line {
            color: rgb(255, 255, 255);
            background-color: #9a9c0f
        }
        .md-raised.md-line:not([disabled]):hover {
            color: rgb(255, 255, 255);
            background-color: #000000
        }
        .md-raised.md-line:not([disabled]):focus {
            color: rgb(255, 255, 255);
            background-color: #000000
        }
    </style>
    <meta name="robots" content="noindex">
</head>

<body ng-app="BlankApp" ng-cloak>
    <div ng-controller="AppCtrl" layout="column" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="center center" style="background-color: #97b820;">
                <h2 class="md-flex">✈️空空姐G蛋仔</i> &nbsp;&nbsp;</div>
</md-toolbar><md-content flex layout-padding ng-show="main"> <section>
<md-subheader class="md-primary"><h1 layout="row" layout-align="center center" style="color: #000000;"></md-list-item> </md-list>
</section>  
</md-content><md-content flex layout-padding ng-show="!main"><form name="sendForm"><div ng-show="flight"> <md-input-container class="md-icon-float md-block">
<label class="md-required" for="input_1">📆訂購日期</label>
<input ng-model="user.rideDate" type="date" placeholder="📆訂購日期" ng-required="true" class="ng-pristine ng-valid md-input ng-not-empty ng-valid-required ng-touched" id="input_1" required="required" aria-invalid="false" style="">
<div class="md-errors-spacer"></div>
</md-input-container>

<md-input-container class="md-icon-float md-block ng-scope md-input-has-placeholder md-input-has-value" ng-if="flight" style="">

    <label for="input_9" class="md-required">⏰取餐時間</label>
    <input ng-model="user.rideTime" type="time" placeholder="⏰取餐時間" ng-required="true" class="ng-pristine ng-valid md-input ng-not-empty ng-valid-required ng-touched" id="input_9" required="required" aria-invalid="false" style="">
    <div class="md-errors-spacer"></div>
</md-input-container>
<!-- ngIf: !flight -->
<!-- ngIf: flight -->
     <md-input-container class="md-icon-float md-block md-input-has-placeholder">
        <label for="input_13">🐣購買項目</label>
        <input ng-model="user.terminal" type="text" placeholder="購買項目" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="input_13" aria-invalid="false">
        <div class="md-errors-spacer"></div>
    </md-input-container>
<!-- end ngIf: flight -->
<div ng-hide="flight" aria-hidden="true" class="ng-hide" style="">
    <md-input-container class="md-block">
        <label for="input_5">購買項目</label>
        <div class="md-resize-wrapper">
            <textarea ng-model="user.note" md-maxlength="150" rows="1" md-select-on-focus="" class="ng-pristine ng-untouched ng-valid md-input ng-empty ng-valid-md-maxlength" id="input_5" aria-invalid="false" ng-trim="false" style="height: 0px;"></textarea>
            <div class="md-resize-handle" style="touch-action: pan-x;"></div>
        </div>
        <div class="md-errors-spacer">
            <div class="md-char-counter">0 / 150</div>
        </div>
    </md-input-container>
</div>
<div>
    <P Align=center><img src="https://book.f5tech.club/IMG_8139.JPG" width="300" height="400"></p>
</div>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">

</md-button> <md-button class="md-raised md-line" type="button" ng-click="send()" ng-disabled="sendForm.$invalid"> <mat-icon class="fab fa-line"></mat-icon> 傳送至 LINE@ </md-button> <input ng-model="user.service" type="hidden" ng-required="true"> </section></form> </md-content></div> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script> <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script> 
<script>angular.module('BlankApp', ['ngMaterial', 'ngMessages']).controller('AppCtrl', function($scope) {
    $scope.main=true;
    $scope.flight=false;
    $scope.reserve=false;
    $scope.user= {
        rideDate: new Date(), rideTime: new Date(), getOnPlace: '', getOffPlace: '', plane: '', terminal: ''
    }
    ;
    $scope.goto=function(page) {
        $scope.main=false;
        switch(page) {
            case'page3': $scope.user.service=' ';
            rideDate: new Date();
            rideTime: new Date();
            $scope.flight=true;
            $scope.reserve=false;
            break;
            default: $scope.main=true;
            $scope.user.service='';
            break;
        }
        $scope.send=function() {
           
            let rideDate=$scope.user.rideDate.getFullYear()+'-'+($scope.user.rideDate.getMonth()+1)+'-'+$scope.user.rideDate.getDate();
            let timeInterval=$scope.user.rideTime.getHours()<12?'上午 ': '下午 ';
            let rideTime=timeInterval+('0'+$scope.user.rideTime.getHours()).substr(-2)+':'+('0'+$scope.user.rideTime.getMinutes()).substr(-2);
            let terminal=$scope.user.terminal;
            let note=$scope.user.note;
            let text=($scope.flight)?'✈️️空空姐G蛋仔': '';
            text+='➖➖➖➖➖➖➖';
            if($scope.flight) {
                
                text+='%0A📆訂購日期: '+rideDate+'%0A⏰取餐時間: '+rideTime;
                text+='%0A🐣購買項目: '+terminal;
                text+='%0A➖➖➖➖➖➖➖';
                
            }
            window.location='line://oaMessage/@679xttxv/'+text;
        };
    }
    $scope.goto('page3');
}

);
</script> 
</body></html>
